@use '../../styles/variables.scss' as *;

.page-container{
    font-family: "arial";
}

.cabin{
    width: 35.375rem;
    height: 31.188rem;
    padding: 0.3rem;

    &__wrapper{
        display: flex;
        margin: auto;
        width: 90%;
        padding-bottom: 2rem;
    }

    &__title{
        width: 90%;
        margin: auto;
        padding: 1rem 0;
    }

    &__content-wrapper{
        display: flex;
        flex-direction: column;
        width: 90%;
        padding-left: 6rem;
        
    }

    &__text-wrapper{
        display: flex;
        padding: 1rem 0;
    }

    &__host-wrapper{
        display: flex;
        align-items: center;
        gap: 2rem;
        padding: 1rem 0;
        border-top: 0.063rem solid $secondary-color1;
        border-bottom: 0.063rem solid $secondary-color1;
        width: 50%;
    }

    &__amenaties-wrapper{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem 0;
        margin-bottom: 1rem;
        border-bottom: 0.063rem solid $secondary-color1;
        width: 50%;

    }

    &__amenaties-single{
        display: flex;
        gap: 1rem;
        align-items: center;
    }

    &__extra-wrapper{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 50%;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        border-bottom: 0.063rem solid $secondary-color1;

    }

    &__experiences-wrapper{
        display: flex;
        flex-direction: column;
    }

    &__experiences-horizontal{
        display: flex;
        width: 50%;
    }

    &__experience{
        width: 16.666666rem;
    }

    &__bottom-container{
        display: flex;
        gap: 0;
        justify-content: space-between;
        
    }
}

.cabin-small{
    width: 17rem;
    height: 15.438rem;
    padding: 0.3rem;

    &__container{
        display: flex;
        
    }

    &__duo-container{
        display: flex;
        flex-direction: column;
    }
}

.text-underline{
    text-decoration: underline;
}

